---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Printing" answers={["Hello, World!"]}>
    <p>
        We will start with something every programmer should be able to do, print "Hello, World!" to the console.
    </p>
</PageLayout>
