---
---

<div id="code-output-container">
    <h2>Output:</h2>
    <div id="code-output">

    </div>
</div>

<style>
    #code-output-container {
        grid-column: span 2;
        padding: 1rem;
        background: #282c34;
        border-radius: .5rem;
    }
    #code-output h2 {
        font-size: 1.2rem;
    }
    #code-output {
        
    }
</style>
