---
interface Props {
    answers: string[];
}
const { answers } = Astro.props;
---

<h2>Instructions</h2>
<slot />
<br>
<h3>Requirements</h3>
<ul id="answers">
    {
        answers.map(answer => (
            <li>Print "<span class="answer">{answer}</span>"</li>
        ))
    }
</ul>
<style>
    
</style>
