---
import CodeInstructions from "../components/CodeInstructions.astro";
import CodeEditor from "../components/CodeEditor.vue";
import CodeOutput from "../components/CodeOutput.astro";

interface Props {
    title: string;
    answers: string[];
}

const { title, answers } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<title>{title} | Learn Rust</title>
	</head>
	<body>
		<h1>Learn Rust</h1>
		<main>
			<div class="code-development-item" id="instructions">
				<CodeInstructions answers={answers}>
                    <slot />
                </CodeInstructions>
			</div>
			<div class="code-development-item" id="editor">
				<CodeEditor client:load />
			</div>
			<div class="code-development-item" id="output">
				<CodeOutput />
			</div>
		</main>
	</body>
</html>

<style>
	body {
		background: #1A1627;
		color: white;
		font-family: 'Poppins', sans-serif;
	}
	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		min-height: 80vh;
		max-width: 95vw;
		margin: auto;
	}
	.code-development-item {
		padding: 1rem;
		background: #282c34;
		border-radius: .5rem;
	}
	@media only screen and (max-width: 1300px) {
		#instructions {
			grid-column: span 2;
			grid-row: 2;
		}
		#editor {
			grid-column: span 3;
		}
		#output {
			/* grid-column: 1; */
		}
	}
	@media only screen and (max-width: 1000px) {
		main {
			display: block;
		}
		.code-development-item {
			margin-bottom: 2rem;
		}
	}
</style>
